---
const personalImageAlt = "David Luna Naranjo";
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Soy <strong>David Luna</strong>, inicie mi carrera como <strong
        >científico de datos</strong
      > enfocado en investigación. Actualmente, formo parte del equipo de analítica
      de una multinacional.
    </p>

    <p>
      Algunos de mis éxitos incluyen colaborar en la <strong
        >creación de una aplicación en tiempo real para la prevención del
        COVID-19</strong
      >. Este desarrollo requería alternativas ingeniosas y un despliegue rápido
      para abordar eficazmente la pandemia.
    </p>

    <p>
      Como investigador, mi enfoque en <strong>Machine Learning</strong> y <strong
        >procesamiento de señales</strong
      > se refleja en la publicaciónes de artículos científicos y en mi participación
      en congresos internacionales. Mi meta es crear aplicaciones disruptivas usando
      <strong>inteligencia artificial</strong>
    </p>
  </div>

  <img width="200" height="200" src="/me.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
