---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Data Scientist Researcher - Universidad de Antioquia",
    description:
      "Participo en un proyecto de monitoreo acústico usando machine learning y procesamiento de señales en datos de audio. ",
    contributions: [
      "Mejoré la calidad de señales de audio mediante procesamiento de señales y Machine Learning.",
      "Diseñé pipelines ETL automatizados para gestionar datos masivos y extraer características.",
      "Desarrollé pipelines para analizar señales de audio.",
      "Elaboré documentos técnicos para comunicar resultados clave.",
    ],
  },
  {
    date: "Nov. 2020 - Feb. 2021",
    title: "Data Scientist - Universidad Nacional de Colombia",
    description:
      "Contribuí a una iniciativa de reducción de la transmisión de COVID-19 en Manizales usando machine learning.",
  },
  {
    date: "Jun. 2018 - Nov. 2020",
    title: "Machine Learning Researcher - Universidad Nacional de Colombia",
    description:
      "Colaboré en proyectos de soluciones basadas en datos centrados en series temporales e imágenes en neurociencia",
  },
  {
    date: "Sep. 2017 - Ene. 2018",
    title: "Data Scientist - Universidad Nacional de Colombia",
    description:
      "Desarrollamos una aplicación para analizar las interacciones de usuarios en Facebook.",
  },
  {
    date: "Mar. 2017 - Ago. 2017",
    title: "Machine Learning Researcher - Universidad Nacional de Colombia",
    description:
      "Diseñamos un sistema de realidad aumentada para proyectar conexiones cerebrales a partir de señales de EEG.",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
