---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Data Scientist - Emergia",
    description:
      "Colaboro en el equipo de analítica para la optimización de procesos y desarrollo de productos en Contact Center.",
  },
  {
    date: "Mar. 2021 - Oct. 2023",
    title: "Data Scientist Researcher - Universidad de Antioquia",
    description:
      "Participo en un proyecto de monitoreo acústico usando machine learning y procesamiento de señales en datos de audio. ",
  },
  {
    date: "Nov. 2020 - Feb. 2021",
    title: "Data Scientist - Universidad Nacional de Colombia",
    description:
      "Contribuí a una iniciativa de reducción de la transmisión de COVID-19 en Manizales usando machine learning.",
  },
  {
    date: "Mar. 2017 - Nov. 2020",
    title: "Machine Learning Researcher - Universidad Nacional de Colombia",
    description:
      "Desarrollé proyectos con Machine Learning, destacando aplicaciones para el análisis de interacciones en Facebook y sistemas de realidad aumentada en neurociencia.",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
